body{
margin:0;
overflow:auto;
background:black;
font-family:Arial,sans-serif;
color:white;
text-align:center;
}

h1{
margin-top:20px;
color:#ffd27f;
text-shadow:0 0 20px orange;
}

#stars{
position:absolute;
top:0;
left:0;
z-index:-1;
}

.container{
display:flex;
flex-direction:column;
align-items:center;
}

.orbit{
position:relative;
margin-top:50px;
width:300px;
height:300px;
}

.planet{
position:absolute;
width:180px;
height:180px;
background:radial-gradient(circle,#f6d7a8,#b8854b);
border-radius:50%;
top:60px;
left:60px;
box-shadow:0 0 50px orange;
animation:girar 20s linear infinite;
}

.ring{
position:absolute;
width:280px;
height:70px;
border:10px solid rgba(220,220,220,0.8);
border-radius:50%;
top:115px;
left:10px;
transform:rotate(20deg);
}

@keyframes girar{
100%{
transform:rotate(360deg);
}
}

.menu{
margin-top:40px;
}

button{
background:#0b3d91;
color:white;
border:none;
padding:12px;
margin:6px;
border-radius:12px;
font-size:16px;
}

.info{
margin-top:20px;
width:80%;
background:rgba(255,255,255,0.1);
padding:20px;
border-radius:20px;
}

.quiz{
margin-top:20px;
background:rgba(255,255,255,0.1);
padding:20px;
border-radius:20px;
width:80%;
}
.moon-orbit{
position:absolute;
width:300px;
height:300px;
top:0;
left:0;
border-radius:50%;
animation:orbitar 12s linear infinite;
}

.orbit2{
animation-duration:18s;
}

.moon{
position:absolute;
border-radius:50%;
}

.titan{
width:20px;
height:20px;
background:orange;
top:-10px;
left:140px;
box-shadow:0 0 20px orange;
}

.encelado{
width:12px;
height:12px;
background:white;
top:-6px;
left:145px;
box-shadow:0 0 15px white;
}

@keyframes orbitar{
    100%{
        transform:rotate(360deg);
    }
}
#saturno3d{
width:100%;
height:400px;
touch-action:none;
}
#saturno3d canvas{
    touch-action: pan-y;
}